#IntelliJ
*.iml
.idea
atlassian-ide-plugin.xml

# Eclipse
.project
.classpath
.settings
.metadata

# Maven
target
release.properties
pom.xml.releaseBackup
release

# Spoon
*.tmp
spooned

# PDF parsing
/generated
/doc
